<% include partials/header.ejs %>
<header>
  <div class="container">    <a href="/">Lists</a></div>
</header>
<div class="main">
  <div class="container">
    <div class="content">
      <div class="list">
        <div class="top">
            <h2><%= list[0].name%></h2>
          <form action="" method="post">
            <input name="taskText" id="taskText" type="text" required>
            <button id="add" type="submit">Add</button>
          </form>
        </div>
        <div class="body">
          <% include partials/toDoItem.ejs %>
        </div>
        <div class="bottom">
        </div>
      </div>
    </div>
  </div>
</div>
<% include partials/footer.ejs %>